<div class="body-inner">
  <h2>All songs</h2>
  <ul class="index">
    <% @songs.each do |song| %>
      <li>
        <%= link_to song.title, song, class: 'line-button label' %>
        <%= link_to edit_song_path(song), class: 'button' do %>
          ✎<span>Edit</span>
        <% end -%>
        <%= link_to song, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' do %>
          &times;<span>Delete</span>
        <% end -%>
      </li>
    <% end %>
  </ul>
</div>